.feed {
  .card {
    background: white;
    width: 100%;
    margin-top: 30px;
    .user {
      padding: 10px;
      display: inline-flex;
      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        object-fit: cover;
        margin-top: 5px;
      }
      .text {
        margin-left: 10px;
        span {
          display: grid;
        }
        .name {
          font-family: "HelveticaNeue Bold";
          font-size: 16px;
          color: #000000;
        }
        .address {
          font-family: "HelveticaNeue Regular";
          font-size: 14px;
          color: #000000;
          font-weight: bold;
        }
      }
    }
    .picture {
      img {
        width: 100%;
        height: auto;
      }
    }
    .detail {
      padding: 10px;
      .title {
        font-family: "HelveticaNeue Bold";
        font-size: 16px;
        color: #000000;
      }
      .description {
        font-family: "HelveticaNeue Light";
        font-size: 16px;
        color: #000000;
      }
      .icons {
        margin-top: 10px;
        .bookmark {
          float: right;
        }
      }
      .likes {
        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        span {
          font-family: "HelveticaNeue Bold";
          font-size: 16px;
          color: #000000;
        }
      }
      .objective {
        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #D7D7D7;
        .value {
          font-family: "HelveticaNeue Medium";
          font-size: 16px;
          color: #313131;
        }
        .time {
          font-family: "HelveticaNeue Regular";
          font-size: 11px;
          font-weight: bold;
          color: #313131;
        }
      }
      .comment {
        textarea, input{
          outline: none;
          border: none;
          box-shadow: none;
        }
        textarea:focus, input:focus{
          outline: none;
          box-shadow: none;
        }
        *:focus {
          outline: none;
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }
}