@font-face {
  font-family: 'HucklebuckJF Regular';
  src: url('../assets/fonts/HucklebuckJF-Regular.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url('../assets/fonts/HelveticaNeue-Medium.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Regular';
  src: url('../assets/fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('../assets/fonts/helvetica-neue-bold.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('../assets/fonts/HelveticaNeue-Light.otf');
}